name: 'Issue Labels'

on:
  issues:
    types: [opened, reopened, closed]

permissions:
  issues: write

concurrency:
  group: lock

jobs:

  # Check Labels - https://github.com/mheap/github-action-required-labels
  add_label_user_close_check:
    name: Close Issue Label - Check
    runs-on: ubuntu-latest

    if: github.actor != 'dakanji' && github.event.action == 'closed'
    steps:
      - uses: mheap/github-action-required-labels@v1
        with:
          mode: exactly
          count: 0
          labels: "Bug, Enhancement"

  # Add  Labels  - https://github.com/actions-ecosystem/action-add-labels
  add_label_user_close_act:
    name: Close Issue Label - Act
    needs: add_label_user_close_check
    runs-on: ubuntu-latest

    if: github.actor != 'dakanji' && github.event.action == 'closed'
    steps:
      - uses: actions/checkout@v2
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ github.token }}
          labels: Cancelled

  # Check Similarity - https://github.com/actions-cool/issues-similarity-analysis
  similarity_analysis:
    name: Check Similarity
    runs-on: ubuntu-latest

    if: github.actor != 'dakanji' && github.event.action == 'opened'
    steps:
      - uses: actions-cool/issues-similarity-analysis@v1.1.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          since-days: 270
          filter-threshold: 0.6
          comment-title: '### Similarity Analysis'
          comment-body: '[Score: ${similarity}] #${number}'
          show-footer: false

  # Add Labels - https://github.com/actions-ecosystem/action-add-labels
  add_label_user_open:
    name: Default Issue Label
    needs: similarity_analysis
    runs-on: ubuntu-latest

    if: github.actor != 'dakanji' && github.event.action == 'opened' && contains(github.event.comment.body, 'RefindPlus Version') && contains(github.event.comment.body, 'Device Type') && contains(github.event.comment.body, 'Problem Description') && contains(github.event.comment.body, 'Problem Point') && contains(github.event.comment.body, 'Affected Items') && contains(github.event.comment.body, 'Debug Log') && contains(github.event.comment.body, 'Additional Context')
    steps:
      - uses: actions/checkout@v2
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ github.token }}
          labels: Pending

  add_label_user_reopen:
    name: Reopen Issue Label
    runs-on: ubuntu-latest

    if: github.actor != 'dakanji' && github.event.action == 'reopened'
    steps:
      - uses: actions/checkout@v2
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ github.token }}
          labels: Pending

  add_label_user_open_enhance:
    name: Enhancement Request Label
    needs: similarity_analysis
    runs-on: ubuntu-latest

    if: github.actor != 'dakanji' && github.event.action == 'opened' && contains(github.event.comment.body, 'Suggested Feature') && contains(github.event.comment.body, 'Background Information') && contains(github.event.comment.body, 'Additional Context')
    steps:
      - uses: actions/checkout@v2
      - uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ github.token }}
          labels: Enhancement

  # Del Labels - https://github.com/dessant/label-actions
  del_label_user_reopen:
    name: Remove Cancelled Label
    runs-on: ubuntu-latest

    if: github.actor != 'dakanji' && github.event.action == 'reopened'
    steps:
      - uses: actions/checkout@v2
      - uses: actions-ecosystem/action-remove-labels@v1.3.0
        with:
          github_token: ${{ github.token }}
          labels: Cancelled

  del_label_user_close:
    name: Remove Pending Label
    runs-on: ubuntu-latest

    if: github.actor != 'dakanji' && github.event.action == 'closed'
    steps:
      - uses: actions/checkout@v2
      - uses: actions-ecosystem/action-remove-labels@v1.3.0
        with:
          github_token: ${{ github.token }}
          labels: Pending
